
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Book form</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/css/bootstrap.min.css">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand">Book Lending System</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item" th:if="${isLogged}">
        <a class="nav-link" style="color:white" href="/myAccount">My Account</a>
      </li>
      <li class="nav-item" th:unless="${isLogged}">
        <a class="nav-link"  style="color:white" href="/login">Login or register</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" style="color:white" href="/booklist">Book list</a>
      </li>
      <span th:if="${isAdmin}">
    <li class="nav-item">
      <a class="nav-link" style="color:white" href="/users">Users</a>
    </li></span>
    </ul>
  </div>
</nav>

<div class="container mt-5">
  <h2>Book Form</h2>
 <!-- <h1 th:text="${book.id != 0} ? @{'Modificar'} : @{'Añadir'}"></h1> -->
  <form action="formulario.php" method="post"

        th:object="${book}"
        th:action="${book.id != 0} ? @{crud/books/modificar/submit} : @{crud/books/create/submit}"
    enctype="multipart/form-data">
    <!-- Not working "${book.id != 0} ? @{/books/modificar/submit} : @{/books/create/submit}"-->

    <div class="form-group">
      <label for="nombre">Title:</label>
      <input type="text" class="form-control" id="nombre" th:field="*{title}">
    </div>
    <div class="form-group">
      <label for="tags">Tags:</label>
      <input type="text" class="form-control" id="tags" th:field="*{tags}">
    </div>
    <div class="form-group">
      <label for="author">Author:</label>
      <input type="text" class="form-control" id="author" th:field="*{author}">
    </div>
    <div class="form-group">
      <label for="price">Price:</label>
      <input type="number" class="form-control" id="price" step="any"  th:field="*{price}" >
    </div>
    <div class="form-group">
      <label for="isbn">ISBN:</label>
      <input type="text" class="form-control" id="isbn" th:field="*{isbn}">
    </div>
    <div class="form-group">
      <label for="image">Image:</label>
    <input type="file" name="image" id="image" accept="image/png, image/jpeg, image/jpg" />
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
  </form>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.min.js"></script>
</body>
</html>
